* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.main {
    padding: 10px;
}

.main_notification {
    padding: 10px;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    width: 80%;
    margin: auto;
}

.main_notification--header {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    padding: 15px 0px;
}

.main_notification--header > div {
    flex: 0 0 50%;
}

.main_notification--header_left {
    display: flex;
    align-content: center;
    justify-content: flex-start;
}

.main_notification--header_left span {
    font-weight: 800;
}

span#no_read {
    padding: 5px 12px;
    border-radius: 5px;
    background: #093279;
    color: #fff;
}

.main_notification--header_rigth {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

button#all_read {
    background: transparent;
    border: transparent;
    color: #353535;
    cursor: pointer;
}

ul.main_notification--body_list {
    list-style: none;
}

.body_item--avatar img {
    display: block;
    height: auto;
    width: 50px;
}

li.main_notification--body_item {
    background: #fff;
    padding: 10px 20px;
    margin-bottom: 15px;
    border-radius: 7px;
    display: flex;
    align-items: flex-start;
    column-gap: 15px;
    cursor: pointer;
}

.body_item--private-msg {
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #757575;
    border-radius: 3px;
}

strong.body_item--msg, span.body_item--date {
    color: #757575;
}

.body_item--private-msg p {
    color: #454545;
}

strong.body_item--group {
    color: #093279;
}

.notification-no-read {
    background: #f6fafd !important;
}

@media (max-width: 850px) {
    .main_notification {
        width: 90%;
    }
}